@use "../../styles/partials/globals";
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.videoInfo {
    
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;

        @include tablet {
            font-size: 2.063rem;
        }
    }

    &__divider {
        border-bottom: 1px solid $secondary-color-silver;
        margin-bottom: 1rem;

        @include tablet {
            display: none;
        }
    }

    &__container {
        display: flex;
        justify-content: flex-start;

        @include tablet {
            justify-content: space-between;
        }

    }

    &__details {

        @include tablet {
            display: flex;
            align-items: baseline;
        }

        &--channel {
            font-size: 0.813rem;
            font-weight: 600;
            margin: 0 1rem 1rem 0;

            @include tablet {
                font-size: 0.875rem;
                margin-right: 2rem;
                font-weight: 700;
            }
        }

        &--time {
            font-size: 0.75rem;
            font-weight: 500;
            color: $primary-color-silver;
            margin-bottom: 1rem;

            @include tablet {
                font-size: 0.813rem;
            }
        }
    }

    &__stat {

        @include tablet {
            display: flex;
        }

        &--boxForViews, &--boxForLikes {
            display: flex;
            margin: 0 1rem 1rem 1rem;
        }

        &--boxForLikes {
            @include tablet {
                margin-right: 0;
            }
        }

        &--views, &--likes {
            color: $primary-color-silver;
            font-weight: 500;
            font-size: 0.75rem;

            @include tablet {
                font-size: 0.813rem;
            }
        }
    }

    &__icons {
        margin-right: 1rem;

        @include tablet {
            margin-right: 0.5rem
        }
    }
}

.videoDesc, .videoCommentCounts {
    font-size: 0.813rem;
    margin-bottom: 1rem;

    @include tablet {
        font-size: 0.875rem;
        margin-bottom: 1.5rem;
    }
}

.videoCommentCounts {
    font-weight: 700;
}