@use "../../styles/partials/globals";
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.videoInfo {
    
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        margin: 1.5rem 1rem 1rem 1rem;
    }

    &__divider {
        border-bottom: 1px solid $secondary-color-silver;
        margin: 0 1rem 1rem 1rem;
    }

    &__container {
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
        justify-content: flex-start;

    }

    &__details {


        &--channel {
            font-size: 0.813rem;
            font-weight: 600;
        }

        &--time {
            font-size: 0.75rem;
            font-weight: 500;
            color: $primary-color-silver;
        }
    }

    &__stat {

        &--views, &--likes {
            display: inline;
            color: $primary-color-silver;
            font-weight: 500;
            font-size: 0.75rem;
        }
    }
}