@use "../../styles/partials/globals";
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 1rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2.25rem 0 2.25rem;
    }

    @include desktop {
        width: $desktop-element-width;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    &__navbar {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__search {
        display: flex;

    }

    &__avatar--mobile {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: left;

        @include tablet {
         display: none;   
        }
    }

    &__avatar--tablet {
        display: none;

        @include tablet {
            display: inline;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
            object-position: left;
        }
    } 

}

.logo {
    width: 7.5rem;
}