@use "../../styles/partials/globals";
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form {
    &__fields {
        display: flex;
        flex-direction: column;

        &--input {
            background-color: $secondary-color-white;
            border: 1px solid $secondary-color-silver;
            border-radius: 4px;
            height: 2.25rem;
            width: 100%;
            padding: 0.75rem;
        }

        &--textarea {
            height: 6.5rem;
            width: 100%;
            resize: vertical;
            padding: 0.75rem;
            margin: 0.25rem 0 1rem 0;
            border-radius: 4px;
            border: 1px solid #E1E1E1;
            background-color: #FAFAFA;
            overflow: hidden;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;

        &--publish {
            background-color: $primary-color-blue;
            height: 2.5rem;
            color: $primary-color-white;
            border: transparent;
            border-radius: 4px;
            width: 100%;
            font-weight: 600;
            background-image: url(../../assets/images/icons/publish.svg);
            background-repeat: no-repeat;
            background-position: 5% 50%;
        }

        &--cancel {
            background-color: $primary-color-white;
            height: 2.5rem;
            font-weight: 600;
            color: $primary-color-blue;
            border: transparent;
        }
    }
}