@use "../../styles/partials/globals";
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form {
    &__fields {
        display: flex;
        flex-direction: column;

        &--input {
            background-color: $secondary-color-white;
            border: 1px solid $secondary-color-silver;
            border-radius: 4px;
            height: 2.25rem;
            width: 100%;
            padding: 0.75rem;
        }

        &--textarea {
            height: 6.5rem;
            width: 100%;
            resize: vertical;
            padding: 0.75rem;
            margin: 0.25rem 0 1rem 0;
            border-radius: 4px;
            border: 1px solid #E1E1E1;
            background-color: #FAFAFA;
            overflow: hidden;
        }
    }


}