@use "../../styles/partials/globals";
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videoContainer {
    width: 100%;
    background-color: $secondary-color-black;

    &__video {
        width: 100%;
        
        @include desktop {
        width: $desktop-element-width;
        margin-left: auto;
        margin-right: auto;
        }
    }

    @include tablet {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
    }

    @include desktop {
        padding-left: auto;
        padding-right: auto;
    }
    
}