@use "../../styles/partials/globals";
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.sideBar {
    margin: 1rem;
    padding-bottom: 3rem;

    @include tablet {
        margin: 2.25rem;
    }

    @include desktop {
        margin-left: 1.5rem;
        margin-right: 0;
    }

    &__videoList {
        display: flex;
        flex-direction: column;
    }
}