@use "../../styles/partials/globals";
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.margin-needed {
    margin: 1rem;

    @include tablet {
        margin: 2.25rem;
    }

    @include desktop {
        width: $desktop-element-width;
        margin-left: auto;
        margin-right: auto;
    }
}